.hero
  .wrapper
    +txt('h1', 'Bring everyone together to build better products.', 'Manage makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals in view.')
    +btn()
  
  .bg
    img(src="images/bg-tablet-pattern.svg", alt="", aria-hidden='true')