.slider
  - const names = ["Anisha Li", "Ali Bravo", "Richard Watts", "Shanai Gough"]
  - const quotes = ["“Manage has supercharged our team’s workflow. The ability to maintain visibility on larger milestones at all times keeps everyone motivated.”", "“We have been able to cancel so many other subscriptions since using Manage. There is no more cross-channel confusion and everyone is much more focused.”", "“Manage allows us to provide structure and process. It keeps us organized and focused. I can’t stop recommending them to everyone I talk to!”", "“Their software allows us to track, manage and collaborate on our projects from anywhere. It keeps the whole team in-sync without being intrusive.”"]
  - const images = ["anisha", "ali", "richard", "shanai"]
  
  .cards.d-flex.justify-space-between
    each name, i in names
      .card.p-relative
        image.p-absolute(src="images/they-said/avatar-"+images[i]+".png" alt=name)
        h5= name
        blockquote= quotes[i]

  .indicators.d-mobile-flex.hide.justify-center
    span.active
    span
    span
    span
