footer
  .container
    .footer-content.center-between-flex.d-mobile-block
      //- Third Column
      .last-col.d-flex
        form.d-flex.justify-center.m-mobile-auto
          input(type="email", name="mail", placeholder="Updates in your inbox…", required)
          input(type="submit", value="Go", class="btn")

        .copyrights.mobile-hide Copyright 2020. All Rights Reserved
      
      //- Second Column
      .links.d-flex.justify-center
        ul
          each link in ["Home", "Pricing", "Products","About Us"]
            li #[a(href="#")= link]

        ul
          each link in [ "Careers", "Community", "Privacy Policy"]
            li #[a(href="#")= link]
      
      //- First Column
      .first-col.d-flex.d-mobile-block
        .social.d-flex.justify-center
          each val in ["Facebook", "Youtube", "twitter", "Pinterest", "Instagram"]
            a(href="#")
              img(src="images/social/icon-" + val.toLowerCase() + ".svg", alt=val)

        a.logo.d-block(href="#")
          img.m-mobile-auto(src="images/logo-white.svg", alt="Logo")

      //- Mobile Copyrights
      .copyrights.hide.d-mobile-block.text-mobile-center Copyright 2020. All Rights Reserved
