nav.d-flex.justify-space-between
  a(href="#")
    img(src="images/logo.svg", alt="Logo")

  img#mobile-btn(src="images/icon-hamburger.svg")
  img#close-btn.hide(src="images/icon-close.svg")

  ul.mobile-hide.d-flex
    each link in ['Pricing', 'Product', 'About Us', 'Careers', 'Community']
      li
        a(href='#')= link

  button.btn Get Started